header.container-fluid {
    padding: 0;
}
header {
    background-color:white;
    
}

header img {
    display: inline-block;
    float: left;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 50%;
    height: 80px;
}

header > .row > .col-6 > .menu{
    margin-top: 50px;
    text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
    
}