.hero {
    display: flex;
    background-color: #1E4264;
    text-align: center;
    height: 100vh;
} 
.hero > .row.hero-colm1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(90deg,
    rgba(156, 189, 222, 0.9),
    rgba(18, 53, 83, 0.8)
    50%),
    url(../img/backgrFoto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left bottom;
   
}

.hero-title {
    margin-top: 400px;
    font-size: 80px;
    font-weight: 500;
    color: #00eeff;
   
}
.hero-p {
    position:relative;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 100;
    color: #00eeff 
}
.hero > .row.hero-colm2 {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    width: 100%;
    height: 100vh;
    
   
}
.hero-title2 {
    margin-top: 300px;
    font-size: 40px;
    font-weight: 300;
    color: #00eeff;
   
}

.hero-p2 {
    position:relative;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 100;
    color: #00eeff 
}

.btn {
    position:absolute;
    top: 5%;
    left: 80%;
    transform: translate (-50%, -50%);
    width: 150px;
    background-color: #DA191C;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(238, 238, 238);
    border-radius: 30px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    margin-top: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 1px 1px 15px 1px #13131344;
    border: 1px solid  #f34236;
    
}


.btn:hover {
    box-shadow: 3px 10px 15px 3px #d62c2c46;
    background-color: rgb(58, 37, 37);
    color: rgb(238, 238, 238);
    transition-duration: 0.9s;
    border: 1px solid  rgb(27, 27, 27);

}


    
